* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("./assets/space.jpg");
    background-attachment: fixed;
    color: white;
    height: 100vh;
    position: relative;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        margin: 2rem 0;
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 1.5px;
        text-shadow: 0 0 15px black;
    }

    .cameras, .photos {
        margin: 1.2rem 0;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        text-shadow: 0 0 10px black;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        button {
            width: 120px;
            font-weight: 500;
            font-size: 1rem;
            background-color: gray;
            color: white;
            border: none;
            outline: none;
            height: 30px;
            border-radius: 10px;
            text-shadow: 0 0 5px black;
            cursor: pointer;
            letter-spacing: 1px;
            &:hover {
                box-shadow: 0 0 5px;
            }
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: 1rem 0;

        .card {
            img {
                width: 300px;
                height: 280px;
                border-radius: 10px;
                box-shadow: 0 0 5px;
                &:hover {
                    box-shadow: 0 0 10px;
                }
            }

            p {
                font-weight: 500;
                text-shadow: 0 0 5px black;
            }
        }
    }
}

.loading {
    display: none;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}